
p {
    border-style: dotted;
    border-color: cornflowerblue;
    padding: 20px;
}

h4 {
    text-align: center;
}

img {
    width: 300px;
    border-radius: 50%;
}

.story {
    border-style: double;
    border-radius: 3px;
    border-color: cornflowerblue;
    border-width: 3px;
    margin: 10px;
    padding: 3px;

}

.buttonStyle {
    color:chocolate;
    text-align: center;
}